/* CSS Document */
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:1.5em;
	color: #000000;
	margin: 1em;
	background-color: #fff;
	background-image: none;
}

.template-form { margin: 0 3em; }

img {
	border:0;
}

.downlineMemBox {margin: 1em; border: 1px dotted #ccc; }
.downlineMemBox h3 { margin: 1em 0 0 1em; }
.downlineMemDetails { padding: 1.5em 1em 1em 1em; width: 150px; margin-top: 1em;}
#downlineMemImage { float: right; padding: 1em 0; }
#downlineMemImage img {  max-width: 150px; vertical-align:middle; border: 5px solid #eee; padding: 5px;}
a {
	text-decoration:none;
	color:#000;
}


a:hover {
	text-decoration:underline;
}

/* downline styles */

.downline_top {
	border-top: 1px dotted #333;
}

.downline_left {
	border-left: 1px dotted #333;
}

.downline_right {
	border-right: 1px dotted #333;
}

.downline_box {
	
}

.downline_image {
	height: 35px;
	width: 30px;
}
